/*
   ______                 __                        
  / ____/________ _____  / /_  ___  ____________  __
 / /   / ___/ __ `/ __ \/ __ \/ _ \/ ___/ ___/ / / /
/ /___/ /  / /_/ / / / / /_/ /  __/ /  / /  / /_/ / 
\____/_/   \__,_/_/ /_/_.___/\___/_/  /_/   \__, /  
                                           /____/
										   
				 Created by katabame | katabamia
*/


/* body setting */
body
{
	position: absolute;
	padding-top: 100px;
	height: 100%;
	width: 100%;
	z-index: 0;
}


/* md menu */
.md-menu
{
	
}


/* md content */
.md-content
{
	
}

/* twemoji setting */
img.emoji
{
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

/* navbar logo */
.navbar-brand
{
	background-image: url("/asset/logo/Cranberry.svg") no-repeat left center;
	background-size: contain;
	height: 50px;
	width: 250px;
}